<div class="image-container">
	<img class="mac-img" src="../img/likemac-clean@2x.png">

	<div class="marker marker-search">
		<div class="marker-text">Browse and search your likes..</div>
		<div class="marker-line"></div>
	</div>

	<div class="marker marker-account">
		<div class="marker-text">Connect your networks..</div>
		<div class="marker-line"></div>
	</div>

	<div class="marker marker-item">
		<div class="marker-text">All your likes in one place..</div>
		<div class="marker-line"></div>
	</div>
</div>
