{% extends './base.html' %}

{% block styles %}
	<link rel="stylesheet" href="/css/forms.css">
{% endblock %}

{% block bodyClass %}password-page forgot dark-bg{% endblock %}

{% block content %}
<section class="forms-wrap password-wrap animated fadeInLeft">
	<a href="/" class="logo big"></a>

	<form id="forgot" class="form animated" accept-charset="utf-8" novalidate v-class="shake: error">
		<div class="desc">Forgot your password? Don't worry, it happens all the time. Please enter your email below and we'll send you instructions on how to reset it.</div>

		<div class="message" v-class="error-msg: error, success-msg: success"
			v-if="(error || success)"
			v-text="(error || success)">
		</div>

		<div>
			<input type="email" name="email" class="fld email" placeholder="Your email" autocomplete="off"
				v-model="user.email"
				v-class="error: error"
				v-on="focus: error=false">
		</div>

		<div class="clearfix">
			<a href="/login" class="back-link link left">Back to log in</a>
			<button class="btn green-btn right"
				v-on="click: submitForm"
				v-on="keyup: submitForm|key enter"
				v-attr="disabled: status === 'Sending message'"
				v-text="status"></button>
		</div>
	</form>
</section>
{% endblock %}

{% block scripts %}
	<script src="/js/pages/forgotPassword.js"></script>
{% endblock %}
