{% extends './base_register.html' %}
{% import './snippets.html' as snippets %}

{% block content %}

{{ snippets.multicolored_bar() }}

<div class="wrap">
	<h2 class="logo"><a href="/">likeastore.</a></h2>

	<div class="auth-block clearfix">
		<div class="desc">Forgot your password? Don't worry it happens all the time. Please provide us email that you used during registration.</div>

		<!-- Reset password form -->
		<form action="/resetpassword/request" class="formular forgot" method="post" accept-charset="utf-8" novalidate>
			<div class="success msg"></div>

			<div>
				<input type="email" name="email" class="field email" placeholder="Email" autocomplete="off" required>
			</div>

			<button type="submit" class="btn green-btn">Reset password</button>
		</form>
		<!-- End of reset password form -->

	</div>
</div>
{% endblock %}