{% extends './base.html' %}
{% import './snippets.html' as snippets %}

{% block styles %}
<link rel="stylesheet" href="{% if mode === 'production' %}/build/homepage_merge.min.css{% else %}/css/merge/homepage_merge.css{% endif %}">
{% endblock %}

{% block bodyClass %}welcome-page{% endblock %}

{% block content %}
<h2 class="logo small fixed"><a href="/">likeastore.</a></h2>

<!-- Small menu -->
<a href="/join" class="go-to-login open-register-dialog menu-link">Sign in</a>
<a href="http://tour.likeastore.com" class="go-to-tour menu-link">Tour</a>

<!-- Step one: welcome -->
<div class="step1">
	<div class="welcome-block box">
		<h1 class="words">Save your likes in likeastore.</h1>
		<div class="welcome-desc">Get every piece of your social activity on one page and in one account.</div>
		<a href="#why" class="find-out-more scrolly">Find out more</a>
	</div>

	<div class="image"><img src="/img/likeastorescreen.png" alt="likeastore dashboard"></div>
	<div class="overlay"></div>
</div>
<!-- End of step one -->

<!-- Step two: features -->
<div id="why" class="step2">

	{{ snippets.multicolored_bar() }}

	<div class="title-block box">
		<h1 class="words">Why likeastore?</h1>
		<div class="info-desc">Likeastore makes it very easy to keep and share anything you like from different social services safely and all in one account. We help to store information organized, searchable and easy discoverable.</div>
	</div>

	<div class="about-block box">
		<div class="picto">R</div>
		<h2 class="subtitle">Search and dashboard</h2>
		<div class="info-desc">Manage favorited tweets, likes on facebook or github stars with our dashboard that holds everything you were interested in.</div>
		<div class="screen">
			<img src="/img/dashboard-darkframe.png" alt="likeastore dashboard">
		</div>
	</div>

	<div class="about-block box">
		<div class="picto">Q</div>
		<h2 class="subtitle">Popular services</h2>
		<div class="info-desc">Enable networks to sync with your account. Our list includes such services as Facebook, Twitter or Youtube and still growing.</div>
		<div class="screen">
			<img src="/img/settings-darkframe.png" alt="likeastore account settings">
		</div>
	</div>

	<!-- Counter block -->
	<div class="counter-block box">
		<div class="counter"></div>
		<div class="counter-text">Likes already collected and still growing!</div>
	</div>
	<!-- End counter block -->

	<!-- Register button block -->
	<a href="/join" class="collect-link open-register-dialog">Collect your likes</a>
	<div class="collect-tip">Sign up for free now</div>
	<!-- End of register button block -->

	<!-- Newsletter block -->
	<div class="newsletter-block box">
		<h2 class="subtitle">Subscribe for newsletter</h2>
		<div class="info-desc">Be amongst the first to know about upcoming features, news and job offers.</div>

		<form class="formular subscribe" action="/notify" method="post" accept-charset="utf-8" novalidate>
			<input type="email" name="email" class="field email" placeholder="Enter your email address">
			<button type="submit" class="do-subscribe-btn subscribe-btn btn"><i data-icon="I"></i></button>
			<div class="msg success"></div>
		</form>
	</div>
	<!-- End newsletter block -->

	<!-- Featured block -->
	<div class="featured-block box">
		<div class="info-desc">As featured in</div>
		<div class="featured-logo smashingmag"></div>
		<div class="featured-logo codrops"></div>
	</div>
	<!-- End of featured block -->

</div>
<!-- End of step two -->

<!-- Footer -->
<footer>
	<div class="footer-block">
		<div class="social">
			<div class="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://likeastore.com" data-text="Never lose the things you like with" data-related="likeastore">Tweet</a>
			</div>
			<div class="facebook">
				<div class="fb-like" data-href="https://www.facebook.com/likeastore" data-width="108" data-layout="button_count" data-show-faces="false" data-send="false"></div>
			</div>
		</div>

		<div class="bottom">
			<div class="left">
				<div class="inc">&copy 2013-2014 Likeastore Inc.</div>
				<div class="faq">Got some questions? <a href="mailto:info@likeastore.com?subject=feedback">Send feedback.</a></div>
				<div class="faq">Handcrafted with love in Kiev.</div>
			</div>

			<div class="right">
				<ul>
					<li><a href="https://facebook.com/likeastore" class="fb social-link" target="_blank">g</a></li>
					<li><a href="https://twitter.com/likeastore" class="tw social-link" target="_blank">b</a></li>
					<li><a href="http://blog.likeastore.com" class="tb social-link" target="_blank">T</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- End of footer -->
{% endblock %}

{% block scripts %}
<script>window.ls.appConfig = {{config|json|raw}}</script>
<script src="/components/vex/js/vex.combined.min.js"></script>
<script src="/js/homepage.js"></script>
{% endblock %}
