{% extends 'base.html' %}
{% block bodyClass %}welcome-page{% endblock %}

{% block styles %}
<style>
.welcome-block {
	width: 530px;
	margin: 0 auto;
	padding: 60px 0 0;
	text-align: center;
	-webkit-animation: macvis .5s ease-in-out;
	position: relative;
	z-index: 101;
}

.words {
	color: #1f282d;
	font: 4em/1.1em 'proxima_nova_rgbold', 'Helvetica', 'Arial', sans-serif;
	font-weight: normal;
	text-transform: capitalize;
}

.try-btn {
	display: block;
	background-color: transparent;
	color: #fff;
	border: 3px solid #fff;
	font: 20px/46px 'proxima_nova_rgbold', 'Helvetica', 'Arial', sans-serif;
	margin: 50px auto 0;
	width: 183px;
	height: 44px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}

.try-btn:hover {
	color: #1abc9c;
	border-color: #1abc9c;
	text-decoration: none;
}

.try-btn .icon {
	display: inline-block;
	font-size: 22px;
	line-height: 50px;
	vertical-align: top;
	margin-right: 5px;
}

.small-fixed {
	font-size: 26px;
	padding: 0;
	position: fixed;
	top: 30px;
	left: 35px;
	z-index: 100;
}


.step1 {
	background: #1abc9c;
	position: relative;
	height: 100%;
	min-height: 100%;
	z-index: 1;
}

.step1 .words,
.step1 .desc {
	color: #ecf0f1;
}

.step2 {
	background: #fff;
	position: relative;
	height: 1000px;
	z-index: 2;
}

.bars {
	position: absolute;
	height: 10px;
	width: 100%;
	top: 0;
}

.bars li {
	float: left;
	height: 10px;
	width: 20%;
	-webkit-animation: linevis 700ms ease-in-out;
}

.bars li.black {
	background: #1f282d;
}

.bars li.blue {
	background: #4fcfc4;
}

.bars li.yellow {
	background: #f39c12;
}

.bars li.red {
	background: #e74c3c;
}

.bars li.grey {
	background: #ecf0f1;
}

@-webkit-keyframes linevis {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.image {
	margin: 0 auto;
	max-width: 860px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-animation: macmove 1200ms ease-in-out;
}

@-webkit-keyframes macmove {
	from {
		bottom: -500px;
	}

	to {
		bottom: 0;
	}
}

.image img {
	width: 100%;
	margin: 10px 0 -2px;
}

.find-out-more {
	display: inline-block;
	color: #ecf0f1;
	border-bottom: 1px dotted #ecf0f1;
	font-size: 13px;
	margin: 30px 0 0;
	padding-bottom: 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.find-out-more:hover {
	color: #f7f779;
	border-color: #f7f779;
	text-decoration: none;
}

.title-block {
	width: 530px;
	margin: 0 auto;
	padding: 100px 0 0;
	text-align: center;
}

.title-block .words {
	font-size: 3.5em;
}

.ads-desc {
	font-size: 18px;
	margin-top: 35px;
	line-height: 24px;
	text-align: justify;
}

.overlay {
	background: #333;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	visibility: hidden;
}

.stepper .logo {
	color: #1abc9c;
}

.stepper .go-to-login {
	color: #1f282d;
	box-shadow: inset 0 0 0 1px #1f282d;
}

.stepper .bars {
	position: fixed;
}
</style>
{% endblock %}

{% block content %}
<h2 class="logo small-fixed"><a href="/">likeastore.</a></h2>
<a href="/login" class="go-to-login">Sign in</a>

<div class="step1">
	<div class="welcome-block">
		<h1 class="words">Save your likes in likeastore.</h1>
		<div class="desc">Get every piece of your social activity on one page and in one account.</div>
		<a href="#why" class="find-out-more scrolly">Find out more</a>
	</div>

	<div class="image">
		<img src="img/likeastorescreen.png">
	</div>

	<div class="overlay"></div>
</div>

<div id="why" class="step2">
	<ul class="bars">
		<li class="black"></li>
		<li class="blue"></li>
		<li class="yellow"></li>
		<li class="red"></li>
		<li class="grey"></li>
	</ul>

	<div class="title-block">
		<h1 class="words">We are Google of your interests</h1>
		<div class="ads-desc">
			Just imagine that you won't need to track all important from different services by yourself! Likeastore will do it for you. It has simple and intuitive interface which allows you to store resources safely and search for information.
		</div>
	</div>
</div>

<!--<a href="/login" class="go-to-login">Sign in</a>

<div class="main">
	<div class="welcome-block">
		<h1 class="words">Keep All Likes In A Safe Place</h1>
		<div class="desc">Every piece of your social activity on one page and in one account.</div>
		<a href="#" class="try-btn"><i data-icon="i" class="icon"></i> Try it now</a>
	</div>
</div>

<div class="about">
	Nunc egestas egestas. Habitasse etiam integer diam nisi porttitor ut in mid. Mauris ut vut mauris nisi parturient mattis parturient augue mus scelerisque facilisis, amet hac platea, lorem penatibus sed! Urna, lectus! Ac ac, quis purus quis rhoncus ac diam facilisis risus porta, odio facilisis rhoncus? Nisi enim! In etiam, est facilisis odio magna cum dignissim augue porttitor rhoncus amet risus integer tortor tincidunt sed. Amet, vut scelerisque? Penatibus! A a tortor, ridiculus augue parturient enim scelerisque augue urna odio? Amet rhoncus! Vut tristique dis vut magna parturient? Cras nec, nisi egestas velit? Odio et mauris cursus purus enim, mattis, lorem tincidunt! Nisi nunc eros penatibus. Dignissim diam, augue mauris sagittis facilisis, dis sit rhoncus. Tempor etiam turpis, elementum elementum.

Velit, dolor adipiscing augue facilisis! Nec ac augue porta aliquam facilisis. Sagittis odio! Pulvinar sed dignissim dolor. Penatibus et porta, urna elementum et, quis ut urna tristique, mid in turpis, ut a, magna dolor integer augue pellentesque lectus, nec mattis aliquam porttitor dolor magnis! Adipiscing, et enim, lectus, nec, elit? Phasellus a cursus, turpis et, mus, tincidunt vel sed platea aliquet quis pulvinar, quis vel, turpis mus amet proin sed mid scelerisque est velit, vel magna in aliquam mus dis, cum non? Lorem, parturient, sit augue porttitor elit pid? Sed auctor? Aliquet pulvinar? Porttitor ac egestas a eros sit penatibus magnis dignissim pulvinar, mid? Urna a scelerisque? Non ut mid lorem turpis elementum. Rhoncus ac scelerisque, eu? Rhoncus! Magna.

Penatibus! Quis cursus augue et ac mus aliquam! Tristique scelerisque nisi hac odio odio, rhoncus, porttitor, dapibus! Odio scelerisque! Turpis. A nec pid egestas facilisis ultrices in tincidunt enim. Placerat dictumst amet placerat, cum lundium, urna platea scelerisque elementum in dis sed in nascetur sit ut elit a, massa. Rhoncus elit placerat turpis? Aenean egestas odio vel quis tristique? Velit tincidunt! Et proin urna rhoncus? Aenean adipiscing sagittis purus cursus magnis, vel facilisis, odio ac porta etiam proin adipiscing mauris massa, rhoncus, pulvinar, et etiam porta integer cras porttitor purus, enim aliquet turpis elementum nisi, et phasellus ac elementum nascetur, pellentesque eros magna proin, ut tortor amet, adipiscing vut et nisi sed porta nec dictumst duis rhoncus mid lundium.

Turpis placerat, adipiscing aliquet augue platea et velit nisi enim tincidunt nunc turpis, velit cum turpis sed magna rhoncus, platea proin scelerisque ultrices ac turpis augue. Aliquam sed aliquet elementum. Amet, dolor dolor ac ultricies? Cum augue scelerisque integer turpis aenean magnis amet ultrices? In eu in? Odio dis! Ac eu. Dignissim, mauris vel in, pellentesque eu nisi mattis. Vel urna dolor lundium et non natoque nisi lectus ac facilisis natoque? Augue elit? Vel elit, mus aliquet dapibus! A? Platea, pulvinar, ridiculus risus, et integer augue scelerisque? Rhoncus odio adipiscing, in, rhoncus in turpis lacus tempor penatibus! Mus. Ut! Natoque scelerisque. Urna natoque ac, integer nisi egestas, dapibus tortor quis aliquet, diam, et? Etiam, dolor pid? Aliquam pulvinar parturient.

Magna sed odio platea proin dictumst aliquet facilisis sagittis quis vut risus turpis. Placerat dolor? Magna dis risus a, ac odio eu scelerisque? Mauris elementum a ac nec nisi? Dapibus cras. Porttitor rhoncus aliquet ultricies, nascetur diam mauris porta. Magna, integer, ac ut augue. Nascetur in magna amet lorem lundium augue in et ac non lundium sed elementum, vel ac eros, mus facilisis turpis augue. Tristique duis sed porta platea turpis, dapibus, non cum! Turpis, porttitor augue, augue ultrices ac urna platea ac vel dolor a, a, sit turpis, hac ultrices, parturient turpis porta magna rhoncus porttitor, risus natoque. Sed! Et sed arcu enim mauris elit nec augue aliquet montes aliquam, auctor aliquam, auctor sit vel dapibus sagittis nunc.
</div>-->
{% endblock %}

{#% block content %}
<a href="/login" class="go-to-login">Login</a>

<div class="wrap">
	<h2 class="logo big">likeastore.</h2>
	<div class="desc">An easy way to keep all your likes in one place.</div>

	{% include './partials/mac-notes.html' %}

	<a href="/register" class="register-btn">Registration</a>

	<section class="promo-wrap">
		<div class="pr">
			<h4>Never lose the things you like</h4>
			<p>Keep every piece of your social activity on one page and in one account. Organize and search your likes and get all you need much faster with our service.</p>
		</div>

		<div class="pr">
			<h4>But still 'work in progress'</h4>
			<p>Our status is public beta now and we continue to add new services while getting better with existing features. Your <a href="mailto:info@likeastore.com">feedback</a> is highly appreciated.</p>
		</div>

		<div class="pr last">
			<h4>Subscribe for new features</h4>
			<p>Don't you want another service to connect in your feed? Get notified when updates are on their way. Actually no spam, we promise!</p>

			<form class="formular subscribe" action="/notify" method="post" accept-charset="utf-8" novalidate>
				<input type="email" name="email" class="field email" placeholder="youremail@example.com">
				<button type="submit" class="do-subscribe-btn notify-btn btn">Notify me</button>

				{% include './partials/flash-modal.html' %}
			</form>
		</div>
	</section>
</div>

<div class="social-buttons">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://likeastore.com" data-text="Never lose the things you like with" data-related="likeastore">Tweet</a>
	<div class="fb-like" data-href="https://www.facebook.com/likeastore" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
	<a href="https://news.ycombinator.com/submit" class="hn-button" data-title="likeastore" data-url="https://likeastore.com/" data-count="horizontal" data-style="facebook">Vote on Hacker News</a>
	<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
</div>

<footer>
	<p><i data-icon="m" class="icon"></i>Handcrafted with love in Kiev</p>
</footer>
{% endblock %#}

{% block scripts %}
<script>
$(function () {
	$('.scrolly').on('click', function (e) {
		e.stop();

		var $anchor = $(this);
		var href = $anchor.attr('href');

		$('html, body').animate({
			scrollTop: $(href).offset().top
		}, 1000, function () {
			$('body').addClass('stepper');
		});

	});

	$('.step1').css('height', $(window).height() - 10);
	$('.image').css('margin-left', -$('.image img').width() / 2);

	var bars = $('.bars').offset().top;
	$(window).scroll(function () {
		//$('.step1').css('opacity', 1 - ($(window).scrollTop() / 1000))
		$('.overlay').css({
			'visibility': 'visible',
			'opacity': $(window).scrollTop() / 1000
		});

		//console.log($('.image'))
		$('.image').css('-webkit-transform', 'translateY(' + ($(window).scrollTop() / 7) + 'px)');

		$('body').toggleClass('stepper', $(window).scrollTop() >= bars);

		// if ($(window).scrollTop() > 400) {
		// 	$('.step1').fadeIn();
		// } else {
		// 	$('.step1').fadeOut();
		// }
		//$('.step1').addClass('scrolling');
	});
})
</script>
{% endblock %}
