{% extends 'base.html' %}
{% block bodyClass %}welcome-page{% endblock %}

{% block content %}
<a href="http://stfalcon.github.io/euromaidan/" class="em-ribbon" style="position: absolute; left:0; top:0; width: 90px; height: 90px; background: url('http://stfalcon.github.io/euromaidan/img/em-ribbon.png'); z-index: 2013; border: 0;" title="We are proudly support our nation in the to get honest government! Ukraine without Yanukovich! Ukraine is Europe!" target="_blank"></a>

<a href="/login" class="go-to-login">Login</a>

<div class="wrap">
	<h2 class="logo big">likeastore.</h2>
	<div class="desc">An easy way to keep all your likes in one place.</div>

	{% include './partials/mac-notes.html' %}

	<a href="/register" class="register-btn">Registration</a>

	<section class="promo-wrap">
		<div class="pr">
			<h4>Never lose the things you like</h4>
			<p>Keep every piece of your social activity on one page and in one account. Organize and search your likes and get all you need much faster with our service.</p>
		</div>

		<div class="pr">
			<h4>But still 'work in progress'</h4>
			<p>Our status is public beta now and we continue to add new services while getting better with existing features. Your <a href="mailto:info@likeastore.com">feedback</a> is highly appreciated.</p>
		</div>

		<div class="pr last">
			<h4>Subscribe for new features</h4>
			<p>Don't you want another service to connect in your feed? Get notified when updates are on their way. Actually no spam, we promise!</p>

			<form class="formular subscribe" action="/notify" method="post" accept-charset="utf-8" novalidate>
				<input type="email" name="email" class="field email" placeholder="youremail@example.com">
				<button type="submit" class="do-subscribe-btn notify-btn btn">Notify me</button>

				{% include './partials/flash-modal.html' %}
			</form>
		</div>
	</section>
</div>

<div class="social-buttons">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://likeastore.com" data-text="Never lose the things you like with" data-related="likeastore">Tweet</a>
	<div class="fb-like" data-href="https://www.facebook.com/likeastore" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
	<a href="https://news.ycombinator.com/submit" class="hn-button" data-title="likeastore" data-url="https://likeastore.com/" data-count="horizontal" data-style="facebook">Vote on Hacker News</a>
	<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
</div>

<footer>
	<p><i data-icon="m" class="icon"></i>Handcrafted with love in Kiev</p>
</footer>
{% endblock %}
