<% layout('layout') -%>
<% block('bodyClass', 'welcome-page') -%>

<a href="/login" class="go-to-login">Login</a>

<div class="wrap">
	<h2 class="logo big">likeastore.</h2>
	<div class="desc">Hello @RejectJS people! An easy way to keep all your likes in one place.</div>

	<div class="image-container">
		<img class="mac-img" src="../img/likemac-clean@2x.png">
		<%- partial('mac-notes') %>
	</div>

	<a href="/register" class="register-btn">Registration</a>

	<section class="promo-wrap">
		<div class="pr">
			<h4>Never lose the things you like</h4>
			<p>Keep every piece of your social activity on one page and in one account. Organize and search your likes and get all you need much faster with our service.</p>
		</div>

		<div class="pr">
			<h4>But still 'work in progress'</h4>
			<p>Our status is public beta now and we continue to add new services while getting better with existing features. Your <a href="mailto:info@likeastore.com">feedback</a> is highly appreciated.</p>
		</div>

		<div class="pr last">
			<h4>Subscribe for new features</h4>
			<p>Don't you want another service to connect in your feed? Get notified when updates are on their way. Actually no spam, we promise!</p>

			<form class="formular subscribe" action="/notify" method="post" accept-charset="utf-8" novalidate>
				<input type="email" name="email" class="field email" placeholder="youremail@example.com">
				<button type="submit" class="do-subscribe-btn notify-btn btn">Notify me</button>
				<%- partial('flash-modal') %>
			</form>
		</div>
	</section>
</div>

<div class="social-buttons">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://likeastore.com" data-text="Never lose the things you like with" data-related="likeastore">Tweet</a>
	<div class="fb-like" data-href="https://www.facebook.com/likeastore" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
</div>

<footer>
	<p>
		<i data-icon="m" class="icon"></i>
		Handcrafted with love in Kiev
	</p>
</footer>

<% script('js/formular.js') -%>
