<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>likeastore.</title>

  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <section class="wrap">
    <div class="logo">likeastore.</div>
    <div class="description">We are currently working on amazingly cool application and ready to share it with you very soon. Please stay in touch and we'll let you know as sool as we are live. Put you email and click "Notify me" button, just few steps ahead :)</div>

    <form class="notify-me-form" action="/notify" method="post">
      <input type="text" class="email" placeholder="your@email.com">
      <input type="submit" class="send-email" value="Notify me">
    </form>
    
  </section>

  <script src="components/jquery/jquery.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.notify-me-form').on('submit', function (e) {
        e.preventDefault();

        var $form = $(e.target),
            $email = $form.find('.email'),
            email = $email.val();

        $form.removeClass('error');
        $form.find('span').remove();

        if (!validateEmail(email)) {
          $form.addClass('error');
          $email.before('<span class="help-inline">Your email looks strange, please correct!</span>');
          return;
        }

        $.post('/notify', { email: email }, 
          function () {
            $email.before('<span class="success-message">You\'ve been subscribed!</span>');
          });
      });

      function validateEmail (email) {
        var reg = /^([\w.-]+)@([\w-]+)((.(\w){2,3})+)$/i;
        return reg.test(email);
      }
    });
  </script>
</body>
</html>