{% extends './base.html' %}

{% block meta %}
	<meta name="apple-mobile-web-app-capable" content="yes" />
{% endblock %}

{% block favicons %}
	{% parent %}
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|PT+Sans:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% if mode === 'production' %}/build/geek_landing_merge.min.css{% else %}/css/merge/geek_landing_merge.css{% endif %}">
{% endblock %}

{% block bodyClass %}dev-land-page{% endblock %}

{% block content %}
<nav class="nav clearfix">
	<a href="/" class="logo left"></a>
	<ul class="menu right">
		<li><a href="/geeks" class="link">Home</a></li>
		<li><a href="http://tour.likeastore.com" class="link" target="_blank">Tour</a></li>
		<li><a href="http://blog.likeastore.com" class="link" target="_blank">Blog</a></li>
		<li><a href="https://app.likeastore.com" class="link">Login</a></li>
		<li><a href="/join" class="link button">Sign up</a></li>
	</ul>
</nav>

<section id="index" class="vow index" style="background-image: url('https://tour.likeastore.com/img/polygons.png');">
	<div class="cont">
		<div class="index-wrap">
			<div class="pluses">
				<h2>Social bookmarking for geeks</h2>
				<h3>with storage to collect and organize all your favorites</h3>
				<a href="/join" class="cta-btn">Join for free</a>
			</div>
		</div>

		<div class="browser">
			<div class="browser-ctrl one"></div>
			<div class="browser-ctrl two"></div>
			<div class="browser-ctrl three"></div>
			<img src="/img/iphone-feed.png" class="iphone delay2s animated bounce" alt="Dashboard Iphone">
		</div>
	</div>
</section>

<section id="features" class="vow cont features">
	<h1 class="title">Fast &amp; easy way to save work resources</h1>

	<div class="text">The best way to save useful resources like GitHub repositories, code libraries, fonts, Dribbble shots or Stackoverflow questions. Organize your favorites and find the things you need with full-text search much faster while saving your time and money.</div>

	<img src="/img/services.png" alt="GitHub, Youtube, Twitter, Stackoverflow, Dribbble, Instagram, + more">

	<a href="http://tour.likeastore.com/#account" class="cta-btn" target="_blank">View showcase</a>
</section>

<section id="works" class="vow dark works">
	<div class="cont">
		<h1 class="title">Here's how it works</h1>

		<img src="/img/process.png">

		<div class="steps clearfix">
			<div class="how-step left">
				<h2 class="how-subtitle"><span>1.</span> Start to connect services</h2>
				<p>Just enable featured third-party services that you are interested in and want to track and start bookmarking it.</p>
			</div>
			<div class="how-step left">
				<h2 class="how-subtitle"><span>2.</span> Use “favorite” buttons</h2>
				<p>Continue to use native "star", "favorite" or whatever while appreciating useful content inside services you're commited to.</p>
			</div>
			<div class="how-step left">
				<h2 class="how-subtitle"><span>3.</span> We collect everything</h2>
				<p>On the background our tiny robot collects every piece of your activity and saves starred content to your dashboard.</p>
			</div>
			<div class="how-step left">
				<h2 class="how-subtitle"><span>4.</span> Discover content</h2>
				<p>All useful resources are now available on your dashboard. Organize favorites, create collections, share or invite friends and co-workers to participate.</p>
			</div>
		</div>
	</div>
</section>

<section id="free" class="vow green free" style="height:700px;">
	<div class="cont">
		<h1 class="title">And that coolness is all for free?!</h1>

		<div class="text">Absolutely! Unlimited amount of services to connect and more than 2 GB of space for your social content and collections.</div>

		<div class="actions clearfix">
			<a href="/join" class="cta-btn button sign-up left">Start for free now</a>
			<a href="/pay" class="cta-btn button pay right">Wanna be our supporter? - Pay cash</a>
		</div>
	</div>
</section>

<section id="proofs" class="vow dark proofs">
	<div class="cont">
		<h1 class="title">Feedback from awesome geeks</h1>

		<div class="clearfix">
			<div class="proofs-quotes left">
				<blockquote class="twitter-tweet" lang="en"><p>Ever wanted to keep track of your favourited tweets, github repos and stackoverflow Qs? There's a web app for that: <a href="https://t.co/zliqv5SPyd">https://t.co/zliqv5SPyd</a></p>— Matthew Jackson (@matthewbeta) <a href="https://twitter.com/matthewbeta/statuses/361746443435913216">29 июля 2013</a></blockquote>

				<blockquote class="twitter-tweet" lang="en"><p>This app is a dream come true! <a href="https://t.co/lgm9cQCIVx">https://t.co/lgm9cQCIVx</a>
				All your Twitter favorites, and Github starred repos in one place!!
				via <a href="https://twitter.com/codrops">@codrops</a></p>— Sara Soueidan (@SaraSoueidan) <a href="https://twitter.com/SaraSoueidan/statuses/361553940313157633">28 июля 2013</a></blockquote>

				<blockquote class="twitter-tweet" lang="en"><p>neat little web app that helps you remember all those likes you&#39;ve been clicking... thanks <a href="https://twitter.com/likeastore">@likeastore</a> <a href="http://t.co/Rgcb0o6cFh">http://t.co/Rgcb0o6cFh</a></p>&mdash; Wes the Developer (@codeforyourself) <a href="https://twitter.com/codeforyourself/statuses/392925145058508800">23 октября 2013</a></blockquote>

				<blockquote class="twitter-tweet" lang="en"><p>Nifty tool that keeps all your social stuff on one page - <a href="http://t.co/NeE3tJyWai">http://t.co/NeE3tJyWai</a> <a href="https://twitter.com/search?q=%23webdesign&src=hash">#webdesign</a></p>— Nathan Ingram (@nathaningram) <a href="https://twitter.com/nathaningram/statuses/362212769946284034">30 июля 2013</a></blockquote>
			</div>

			<div class="proofs-quotes right">
				<blockquote class="twitter-tweet" lang="en"><p>likeastore provides one single interface for tweets, GitHub repos, gits and Stackoverflow questions: <a href="https://t.co/P6lTZsaeAR">https://t.co/P6lTZsaeAR</a> <a href="https://twitter.com/search?q=%23useful&src=hash">#useful</a></p>— Smashing Magazine (@smashingmag) <a href="https://twitter.com/smashingmag/statuses/368321434738634753">16 августа 2013</a></blockquote>

				<blockquote class="twitter-tweet" lang="en"><p>Search what you liked with <a href="https://twitter.com/likeastore">@likeastore</a> <a href="https://twitter.com/search?q=%23likeapro&src=hash">#likeapro</a>!
				I didn't know how much I was missing such a service before!
				<a href="https://t.co/6GLS2WJQ60">https://t.co/6GLS2WJQ60</a></p>— Antal Orcsik (@aorcsik) <a href="https://twitter.com/aorcsik/statuses/368377204729602049">16 августа 2013</a></blockquote>

				<blockquote class="twitter-tweet" lang="en"><p>Organise and search your social media likes. This looks like it could be cool. <a href="http://t.co/lHEX3GMYke">http://t.co/lHEX3GMYke</a></p>— Joe Gardiner (@Joe_Gardiner) <a href="https://twitter.com/Joe_Gardiner/statuses/362520568387485696">31 июля 2013</a></blockquote>

				<blockquote class="twitter-tweet" lang="en"><p>Likeastore, save your likes and social activity: Likeastore is an online application that makes very... <a href="http://t.co/XVFRXeHjhl">http://t.co/XVFRXeHjhl</a> <a href="https://twitter.com/search?q=%23startups&amp;src=hash">#startups</a></p>&mdash; SoMeNetMrkt (@SoMeNetMrkt) <a href="https://twitter.com/SoMeNetMrkt/statuses/416700595177680897">27 декабря 2013</a></blockquote>
			</div>
		</div>

		<footer class="footer-wrap">
			<div class="action">
				<img src="/img/logo-stroked.png" class="brand">
				<a href="/join" class="cta-btn">Sign up free</a>
			</div>
			<ul>
				<li><a href="https://app.likeastore.com">Application</a></li>
				<li><a href="http://blog.likeastore.com">Blog</a></li>
				<li><a href="/terms">Terms</a></li>
				<li><a href="/privacy">Privacy</a></li>
				<li><a href="https://twitter.com/likeastore" class="twitter">@likeastore</a></li>
				<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://likeastore.com" data-text="Never lose the things you like with" data-related="likeastore" data-count="none">Tweet</a></li>
				<li class="facebook"><div class="fb-like" data-href="https://www.facebook.com/likeastore" data-width="108" data-layout="button" data-show-faces="false" data-send="false" data-share="true"></div></li>
			</ul>
		</footer>
	</div>
</section>
{% endblock %}

{% block scripts %}
	<script>mixpanel.track('landing page');</script>
	<script>mixpanel.track('geeks landing');</script>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
