<% layout('layout') -%>
<% block('bodyClass', 'login-page') -%>

<div class="wrap">
	<h2 class="logo small"><a href="/">likeastore.</a></h2>

	<div class="auth-block clearfix">
		<form action="/auth/local/login" class="formular login" method="post" accept-charset="utf-8">
			<div>
				<input type="text" name="username" class="field username" placeholder="Username" autocomplete="off">
			</div>
			<div>
				<input type="password" name="password" class="field password" placeholder="Password">
			</div>
			<button type="submit" class="btn do-login-btn">Login</button>
			<div class="auth-help">Don't have an account? <a href="/register">Register.</a></div>
			<%- partial('error-modal') %>
		</form>

		<%- partial('socials') %>
	</div>
</div>

<% script('js/formular.js') -%>