<% layout('layout') -%>

<div class="wrap login-page">
	<h2 class="logo small"><a href="/">likeastore.</a></h2>

	<h3>Start using your account now</h3>

	<form action="/auth/local/login" class="auth login" method="post" accept-charset="utf-8" autocomplete="off">
		<div>
			<input type="text" name="username" class="field username" placeholder="Username">
		</div>
		<div>
			<input type="password" name="password" class="field password" placeholder="Password">
		</div>
		<button type="submit" class="btn do-login-btn">Login</button>
		<div class="auth-help">Don't have an account? <a href="/register">Register.</a></div>
	</form>

	<div class="social">
		<a class="facebook auth-btn" href="/auth/facebook">Login via facebook</a>
		<a class="twitter auth-btn" href="/auth/twitter">Login via twitter</a>
		<a class="github auth-btn" href="/auth/github">Login via github</a>
	</div>
</div>

<% script('js/auth.js') -%>