<div class="marker marker-search">
	<div class="marker-text">Search for github stars and facebook likes in one place..</div>
	<div class="marker-line"></div>
</div>

<div class="marker marker-account">
	<div class="marker-text">Get your account customized..</div>
	<div class="marker-line"></div>
</div>

<div class="marker marker-item">
	<div class="marker-text">Check all saved information on the cards..</div>
	<div class="marker-line"></div>
</div>
