<div class="marker marker-search">
	<div class="marker-text">Search for favorites, stars and other cool stuff here..</div>
	<div class="marker-line"></div>
</div>

<div class="marker marker-account">
	<div class="marker-text">Customize your account and turn on services here..</div>
	<div class="marker-line"></div>
</div>

<div class="marker marker-item">
	<div class="marker-text">Check all information that you saved on our cards..</div>
	<div class="marker-line"></div>
</div>
