{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/css/tour.css">
{% endblock %}

{% block bodyClass %}tour-page{% endblock %}

{% block content %}
	<h2 class="logo small fixed"><a href="/">likeastore.</a></h2>
	<a href="/join" class="go-to-login open-register-dialog menu-link">Sign in</a>

	<div class="bg"></div>

	<div class="points-wrap">
		<h1 class="words">The best tool for collecting and organizing your interests</h1>
		<div class="words-desc">Learn new way of finding inspiration and amazing things.</div>
		<div class="scroll-down"></div>
	</div>
{% endblock %}