{% extends './base.html' %}

{% block fbmeta %}
	<meta property="og:title" content="Popular favorites of the {{age}}" />
	<meta property="og:description" content="Likeastore. Pulse collects the best content of the web based on user likes." />
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/forms.css">
	<link rel="stylesheet" href="/css/pulse.css">
{% endblock %}

{% block bodyClass %}pulse-page{% endblock %}

{% block content %}
<header class="header">
	<a href="/" class="small-white-logo" title="likeastore"></a>
</header>

<div class="subheader animated fadeInDown">
	<div class="top-bar clearfix">
		<div class="left left-bar">
			<ul class="filter">
				<li><a href="/pulse/day" class="btn" v-tooltip="Today's popular favorites">Daily</a></li>
				<li><a href="/pulse/week" class="btn"  v-tooltip="This week's popular favorites">Weekly</a></li>
				<li><a href="/pulse/month" class="btn" v-tooltip="This month's popular favorites">Monthly</a></li>
			</ul>
		</div>

		<div class="right right-bar">
			{% set link = config.siteUrl + '/pulse/' + age %}
			<a href="/join" class="btn pink-btn join-btn">Join now</a>
			<a href="" class="btn social-btn twitter-bg-clr" v-tooltip="Share on twitter" v-on="click: shareOnTwitter" data-text="Popular favorites of the {{age}} - {{link}}, via @likeastore"><i class="font-icon twitter-icon icon"></i></a>
			<a href="" class="btn social-btn facebook-bg-clr" v-tooltip="Share on facebook" v-on="click: shareOnFacebook" data-text="{{link}}"><i class="font-icon facebook-icon icon"></i></a>
		</div>
	</div>
</div>

<div class="main-viewer delay-300ms animated fadeIn">
	<h1 class="featured-title">Popular favorites of the {{age}}</h1>

	<section class="dashboard activity clearfix">
		<ul class="items-wrap grid-view">
			{% for item in items %}
			<li class="dash-item left {{item.type}} item{{loop.index}}{% if item.thumbnail %} thumbed{% else %} texted{% endif %}">
				<a href="{{item.url}}" class="mask-link" target="_blank"></a>

				<div class="action-buttons">
					<a href="" class="share-btn" data-id="{{item._id.toString()}}" data-type="{{item.type}}" data-title="{{item.title or item.description|truncate(30)}}" v-tooltip="Share" v-vex>
						<i class="font-icon share-box-icon"></i>
					</a>
				</div>

				{% if item.thumbnail %}
				<div class="image">
					<a href="{{item.url}}" class="cover animated delay-500ms fadeIn" style="background-image: url({{item.thumbnail||'https://i.ytimg.com/vi/EQFCT8YaYcE/hqdefault.jpg'}})" target="_blank"></a>

					<div class="info">
						{% if item.avatarUrl %}
						<div class="author-image">
							<img src="{{item.avatarUrl}}" class="avatar" avatar-load>
						</div>
						{% endif %}

						<div class="right-block">
							{% if item.authorName %}
							<div class="author-name">{{item.authorName}}</div>
							{% endif %}

							{% if item.title or item.repo %}
							<h2 class="title truncate">{{item.title or item.repo}}</h2>
							{% endif %}

							{% if item.description %}
							<div class="description{% if item.title and item.authorName %} short{% endif %}">{{item.description|truncate(240)|linkify|safe}}"</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% else %}
				<div class="text-wrap">
					{% if item.avatarUrl and item.type !== 'facebook' %}
					<div class="author-image">
						<img src="{{item.avatarUrl}}" class="avatar" avatar-load>
					</div>
					{% endif %}

					<div class="right-block">
						{% if item.authorName and item.type !== 'facebook' %}
						<div class="author-name">{{item.authorName}}</div>
						{% endif %}

						{% if item.title %}
						<h2 class="title{% if item.type !== 'tumblr' %} truncate{% endif %}">{{item.title}}</h2>
						{% endif %}

						{% if item.description and item.description !== item.title %}
						<div class="description">{{item.description|truncate(240)|linkify|safe}}</div>
						{% endif %}

						{% if item.gist or item.type === 'tumblr' or item.description === item.title %}
						<div class="description">{{item.url|linkify|safe}}</div>
						{% endif %}
					</div>
				</div>
				{% endif %}

				<div class="likes"><i class="font-icon heart-icon"></i> {{item.likes}}</div>
				<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
			</li>
			{% endfor %}
		</ul>
	</section>
</div>
{% endblock %}

{% block scripts %}
	<script src="/js/pages/pulse.js"></script>
	<script>mixpanel.track('pulse opened');</script>
{% endblock %}
