{% extends './base_register.html' %}
{% import './snippets.html' as snippets %}

{% block content %}

{{ snippets.multicolored_bar() }}

<div class="wrap">
	<h2 class="logo"><a href="/">likeastore.</a></h2>

	<div class="auth-block clearfix">
		<div class="desc">Open your existing account or automatically create a new one by choosing the way you like most.</div>

		<!-- Social auth buttons -->
		<div class="social-auth">
			<a class="facebook auth-btn" href="/auth/facebook">
				<i data-icon="g" class="icon"></i>
				<span>Log in with facebook</span>
			</a>
			<a class="twitter auth-btn" href="/auth/twitter">
				<i data-icon="b" class="icon"></i>
				<span>Log in with twitter</span>
			</a>
			<a class="github auth-btn" href="/auth/github">
				<i data-icon="d" class="icon"></i>
				<span>Log in with github</span>
			</a>
		</div>
		<!-- End of social auth buttons -->

		<div class="separator">&#126;</div>

		<!-- Login form -->
		<form action="/auth/local/login" class="formular register" method="post" accept-charset="utf-8" novalidate>
			<div class="msg"></div>
			<div>
				<input type="email" name="email" class="field email" placeholder="Email" autocomplete="off">
			</div>
			<div>
				<input type="password" name="password" class="field password" placeholder="Password">
			</div>
			<div class="align-right">
				<a href="/forgot-password" class="forgot-password">Forgot password?</a>
			</div>
			<button type="submit" class="do-register-btn btn green-btn">Sign in</button>
		</form>
		<!-- End of login form -->

		<div class="terms">
			By clicking you accept <a href="/terms" target="_blank">Terms &amp; Conditions</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.
		</div>
	</div>
</div>
{% endblock %}
