<% layout('layout') -%>
<h2>Register page</h2>

<form action="/register" class="auth" method="post" accept-charset="utf-8">
	<input type="text" name="username" class="field username" placeholder="Username">
	<input type="text" name="email" class="field email" placeholder="email@exampl.com">
	<input type="password" name="password" class="field password" placeholder="Password">
	<button type="submit" class="btn">Register</button>
</form>

<% script('js/auth.js') -%>