<% layout('layout') -%>
<div class="register-page">
	<h2>Register page</h2>

	<form action="/auth/local/register" class="auth register" method="post" accept-charset="utf-8" novalidate>
		<input type="text" name="username" class="field username" placeholder="Username">
		<input type="email" name="email" class="field email" placeholder="email@exampl.com">
		<input type="password" name="password" class="field password" placeholder="Password">
		<button type="submit" class="btn do-register-btn">Register</button>
	</form>

	<a class="" href="/auth/facebook">Sign in with facebook</a>
	<a class="" href="/auth/twitter">Sign in with twitter</a>
	<a class="" href="/auth/github">Sign in with github</a>
</div>

<% script('js/auth.js') -%>