{% extends './base_register.html' %}
{% import './snippets.html' as snippets %}

{% block content %}

{{ snippets.multicolored_bar() }}
<div class="wrap">
	<h2 class="logo"><a href="/">likeastore.</a></h2>

	<div class="auth-block clearfix">
		<div class="desc">You are about to reset your password. Please provide new one and try to remember it.</div>

		<!-- Reset password form -->
		<form action="/resetpassword" class="formular reset" method="post" accept-charset="utf-8" novalidate>
			<div class="success msg"></div>

			<input type="hidden" name="email" value="{{email}}" />
			<input type="hidden" name="request" value="{{request}}" />

			<div>
				<input type="password" name="password" class="field password" placeholder="New password" required>
			</div>

			<button type="submit" class="btn green-btn" data-progress-text="Changing..">Change password</button>
		</form>
		<!-- End of reset password form -->

	</div>
</div>
{% endblock %}