{% extends './base.html' %}

{% block styles %}
	<link rel="stylesheet" href="/css/forms.css">
{% endblock %}

{% block bodyClass %}password-page reset dark-bg{% endblock %}

{% block content %}
<section class="forms-wrap password-wrap animated fadeInLeft">
	<a href="/" class="logo big"></a>

	<form id="reset" class="form animated" accept-charset="utf-8" novalidate v-class="shake: error">
		<div class="desc">You are about to reset your password. Please provide new one and try to remember it.</div>

		<div class="message" v-class="error-msg: error, success-msg: success"
			v-if="(error || success)"
			v-text="(error || success)">
		</div>

		<input type="hidden" name="email" value="{{email}}">
		<input type="hidden" name="request" value="{{request}}">

		<div>
			<input type="password" name="password" class="fld password" placeholder="Your new password" autocomplete="off"
				v-model="user.password"
				v-class="error: error"
				v-on="focus: error=false">
		</div>

		<div class="clearfix">
			<a href="/login" class="back-link link left">Back to log in</a>
			<button class="btn green-btn right"
				v-on="click: submitForm"
				v-on="keyup: submitForm|key enter"
				v-attr="disabled: status === 'Changing'"
				v-text="status"></button>
		</div>
	</form>
</section>
{% endblock %}

{% block scripts %}
	<script src="/js/pages/resetPassword.js"></script>
{% endblock %}
