<% layout('layout') -%>
<% block('bodyClass', 'setup-page') -%>

<div class="wrap">
	<h3>Finish registration</h3>

	<form action="/auth/setup" method="post" accept-charset="utf-8" class="formular setup" novalidate>
		<div>
			<input type="text" name="username" class="field username" placeholder="Username" value="<%= username %>" autocomplete="off">
		</div>
		<div>
			<input type="email" name="email" class="field email" placeholder="email@example.com" autocomplete="off">
		</div>
		<button type="submit" class="do-setup-btn btn">Send</button>
		<%- partial('flash-modal') %>
	</form>
</div>

<% script('js/formular.js') -%>