{% extends './base.html' %}

{% block fbmeta %}
	<meta property="og:title" content="{{title|title}}" />

	{% if collection.description %}
	<meta property="og:description" content="{{collection.description|safe}}" />
	{% endif %}

	{% if collection.thumbnail %}
	<meta property="og:image" content="{{collection.thumbnail}}" />
	{% endif %}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/forms.css">
	<link rel="stylesheet" href="/css/collection.css">
{% endblock %}

{% block bodyClass %}collection-page animated fadeIn{% endblock %}

{% block content %}
<div id="app" v-class="sidebar-active: showSidebar">
	<nav class="sidebar-nav st-menu">
		<ul class="folders">
			<li class="home">
				<a href="{{config.applicationUrl}}" class="menu-title"><i data-icon="c" class="font-icon home-icon icon"></i>Home</a>
			</li>
			<li class="blog">
				<a href="http://blog.likeastore.com" class="menu-title"><i data-icon="c" class="font-icon blog-icon icon"></i>Blog</a>
			</li>
			<li class="tour">
				<a href="https://tour.likeastore.com" class="menu-title"><i data-icon="c" class="font-icon tour-icon icon"></i>Tour</a>
			</li>
			<li class="login">
				<a href="{{config.applicationUrl}}" class="menu-title"><i data-icon="c" class="font-icon login-icon icon"></i>Log in</a>
			</li>
		</ul>

		<div class="join-box">
			<img src="/img/foot_logo.png" class="grey-logo">
			<div class="text">
				Social bookmarking for geeks. <br>
				Collect and organize all favorites from multiple services in one place.
			</div>
			<a href="{{config.siteUrl}}/join" class="btn pink-btn">Join now</a>
		</div>
	</nav>

	<div class="sidebar-overlay" v-on="click: hideSidebar"></div>

	<div class="container">
		<div class="content">
			<div class="content-inner">
				<header class="header">
					<div class="header-wrap clearfix">
						<div class="pusher-menu-link header-btn" v-on="click: openSidebar"><i class="font-icon menu-icon icon"></i> Menu</div>
						<a href="/" class="small-white-logo" title="likeastore"></a>
						<div class="reshare-link header-btn" v-on="click: togglePopup"><i class="share-icon font-icon icon"></i> Reshare</div>

						{% set link = config.siteUrl + '/u/' + user.name + '/' + collection.hash %}
						<div class="share-popup" v-class="open: showPopup">
							<div class="label">Share this collection with others:</div>
							<div>
								<a href="" v-on="click: shareOnFacebook" data-text="{{link}}" class="auth-btn facebook">
									<i data-icon="g" class="icon"></i>
									<span>Facebook</span>
								</a>
								<a href="" v-on="click: shareOnTwitter" data-text="{{collection.title}} collection - {{link}}, shared via @likeastore" class="auth-btn twitter">
									<i data-icon="b" class="icon"></i>
									<span>Twitter</span>
								</a>
							</div>
							<div class="label">Copy this link to share this collection with others:</div>
							<div>
								<input id="collectionUrl" class="fld" value="{{link}}">
							</div>
						</div>
						<div class="share-popup-overlay" v-show="showPopup" v-on="click: hidePopup"></div>
					</div>
				</header>

				<div class="main-viewer animated fadeIn">
					<div class="top-bar clearfix animated fadeInLeft">
						<div class="top left">
							<h2 class="title">{{collection.title|title}}</h2>
							<div class="info">
								<div class="line">via {#<img src="{{user.avatar}}" class="left avatar animated delay-500ms fadeIn">#}{{user.displayName or user.name}}{#% if collection.description %} • {{collection.description|linkify|safe}}{% endif %#}</div>
							</div>
						</div>
					</div>

					<section class="dashboard activity clearfix animated fadeIn">
						<ul class="items-wrap grid-view">
							{% for item in items %}
							<li class="dash-item left {{item.type}} item{{loop.index}}{% if item.thumbnail %} thumbed{% else %} texted{% endif %}">
								<a href="{{item.source}}" class="mask-link" target="_blank"></a>

								<div class="action-buttons">
									<a href="" class="share-btn" data-id="{{item._id.toString()}}" data-type="{{item.type}}" data-title="{{item.title||item.repo||item.name}}" tooltip="Share" v-vex>
										<i class="font-icon share-box-icon"></i>
									</a>
								</div>

								{% if item.thumbnail %}
								<div class="image">
									<a href="{{item.source}}" class="cover animated delay-500ms fadeIn" style="background-image: url({{item.thumbnail}})" target="_blank"></a>

									<div class="info">
										{% if item.avatarUrl %}
										<div class="author-image">
											<img src="{{item.avatarUrl}}" class="avatar" avatar-load>
										</div>
										{% endif %}

										<div class="right-block">
											{% if item.authorName %}
											<div class="author-name">{{item.authorName}}</div>
											{% endif %}

											{% if item.title or item.repo %}
											<h2 class="title truncate">{{item.title or item.repo}}</h2>
											{% endif %}

											{% if item.description %}
											<div class="description{% if item.title and item.authorName %} short{% endif %}">{{item.description|truncate(240)|linkify|safe}}"</div>
											{% endif %}
										</div>
									</div>
								</div>
								{% else %}
								<div class="text-wrap">
									{% if item.avatarUrl and item.type !== 'facebook' %}
									<div class="author-image">
										<img src="{{item.avatarUrl}}" class="avatar" avatar-load>
									</div>
									{% endif %}

									<div class="right-block">
										{% if item.authorName and item.type !== 'facebook' %}
										<div class="author-name">{{item.authorName}}</div>
										{% endif %}

										{% if item.title or item.repo or item.name %}
										<h2 class="title{% if item.type !== 'tumblr' %} truncate{% endif %}">{{item.title or item.repo or item.name}}</h2>
										{% endif %}

										{% if item.description and item.description !== item.name %}
										<div class="description">{{item.description|truncate(240)|linkify|safe}}</div>
										{% endif %}

										{% if item.gist or item.type === 'tumblr' or item.description === item.name %}
										<div class="description">{{item.source|linkify|safe}}</div>
										{% endif %}
									</div>
								</div>
								{% endif %}

								<time>{{item.created|date('F d, Y')}}</time>
								<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
							</li>
							{% endfor %}
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="/js/pages/shareCollection.js"></script>
	<script>mixpanel.track('collection shared');</script>
{% endblock %}
