<div class="social">
	<a class="facebook auth-btn" href="/auth/facebook">Login with facebook</a>
	<a class="twitter auth-btn" href="/auth/twitter">Login with twitter</a>
	<a class="github auth-btn" href="/auth/github">Login with github</a>
</div>