/*
 * Geeks landings styles
 */



body {
  color: #1f282d;
  background: #eeeef0;
  font: 400 14px 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.dev-land-page h1,
.dev-land-page h2,
.dev-land-page h3 {
  font-family: 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 0;
}

.cta-btn {
  display: inline-block;
  color: #767a86;
  border: 2px solid #767a86;
  font-size: 14px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 24px 70px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.cta-btn:hover {
  border-color: #00a2b4;
  color: #00a2b4;
  text-decoration: none;
}

.nav {
  padding-top: 32px;
  margin: 0 auto;
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav .menu {
  margin-top: 2px;
}

.nav .menu li {
  display: inline-block;
  margin-left: 18px;
}

.nav .menu a.link {
  color: #fff;
  font: 400 11px 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.nav .menu a.link:hover {
  border-bottom: 1px solid;
}

.nav .menu .button {
  background: rgba(255,255,255,0.2);
  padding: 9px 24px;
  margin-bottom: 0;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 4px;
}

.nav .menu li:hover .button {
  background: #f03e56;
}

.nav .menu .button.link:hover {
  border: 0;
}

.vow {
  margin: 0 auto;
  min-height: 100px;
  overflow: hidden;
}

.vow.index {
  height: 750px;
  background: -webkit-linear-gradient(65deg, #98dacf 30%, #00a2b4);
  background: linear-gradient(25deg, #98dacf 30%,#00a2b4);
  background-image: url('../img/polygons.png');
  -webkit-background-size: cover;
  background-size: cover;
}

.vow.dark {
  background: #272a33;
}

.vow.green {
  background: #56c7aa;
}

.vow .title {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

.vow.dark .title {
  color: #fff;
}

.cont {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.cont .index-wrap {
  color: rgba(255,255,255,.9);
  width: 960px;
  margin: 0 auto;
  padding-top: 180px;
  position: relative;
  top: 48px;
}

.pluses h2,
.pluses h3 {
  font-family: 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

.pluses h2 {
  font-size: 52px;
}

.pluses h3 {
  color: rgba(255,255,255,.8);
  font-size: 36px;
}

.pluses .cta-btn {
  color: rgba(255,255,255,.8);
  border-color: rgba(255,255,255,.8);
  font-size: 13px;
  margin-top: 55px;
  padding: 24px 55px;
}

.pluses .cta-btn:hover,
.pluses .cta-btn:focus {
  opacity: .7;
}

.index .browser {
  background: url('../img/feed-box.png') top center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin: 45px 0 0;
  width: 550px;
  height: 590px;
  position: absolute;
  right: 0;
  opacity: .9;
  -webkit-box-shadow: -1px -25px 16px 5px rgba(255,255,255,0.2);
  box-shadow: -1px -25px 16px 5px rgba(255,255,255,0.2);
}

.index .browser:before {
  display: block;
  background: #111;
  content: '';
  height: 26px;
  position: relative;
  top: -26px;
  border-radius: 3px 3px 0 0;
}

.index .browser-ctrl {
  background: rgba(255,255,255,0.2);
  position: absolute;
  top: -16px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.index .browser-ctrl.one {
  left: 13px;
}

.index .browser-ctrl.two {
  left: 26px;
}

.index .browser-ctrl.three {
  left: 39px;
}

.index .iphone {
  position: absolute;
  width: 185px;
  height: auto;
  bottom: 75px;
  right: -40px;
  margin: 0 auto;
  opacity: .96;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.index .browser:hover .iphone {
  bottom: 175px;
}

.features.cont {
  padding: 85px 0 180px;
  text-align: center;
}

.features .title {
  margin-bottom: 45px;
}

.features .text {
  color: #767a86;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 85px;
}

.features img {
  width: 90%;
  margin-left: 25px;
}

.features .cta-btn {
  margin-top: 90px;
}

.works {
  padding: 100px 0 240px;
}

.steps {
  color: #fff;
}

.works img {
  width: 100%;
  margin: 90px auto 35px;
  opacity: .9;
}

.steps .how-step {
  width: 216px;
  margin: 0 12px;
  padding-left: 10px;
}

.steps .how-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.steps .how-subtitle span {
  background: rgba(255,255,255,0.2);
  font-size: 14px;
  padding: 2px 5px;
  margin-right: 3px;
  vertical-align: top;
  line-height: 20px;
  border-radius: 3px;
}

.steps p {
  color: rgba(255,255,255, .9);
  line-height: 20px;
}

.free {
  padding: 120px 0 160px;
}

.free .title {
  color: #fff;
  font-size: 46px;
  font-weight: 600;
}

.free .text {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  width: 86%;
  margin: 30px auto;
  text-align: center;
}

.free .actions {
  width: 760px;
  margin: 75px auto;
}

.free .cta-btn {
  color: #fff;
  letter-spacing: 1px;
  padding: 24px 50px;
  vertical-align: top;
}

.free .cta-btn.sign-up {
  border-color: #fff;
  margin-right: 15px;
}

.free .cta-btn.sign-up:hover {
  border-color: rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.2);
}

.free .cta-btn.pay {
  border-color: #f03e56;
  background: #f03e56;
}

.free .cta-btn.pay:hover {
  border-color: #fff;
  background: transparent;
}

.proofs {
  padding: 85px 0 60px;
}

.proofs .title {
  margin-bottom: 60px;
}

.proofs-quotes {
  width: 465px;
}

.proofs-quotes iframe.twitter-tweet {
  margin-bottom: 35px !important;
}

.footer-wrap .action {
  margin-top: 60px;
  text-align: center;
}

.footer-wrap .action .brand {
  display: inline-block;
  width: 60px;
  margin-right: 30px;
  vertical-align: top;
  opacity: .9;
}

.footer-wrap .action .cta-btn {
  color: #01a4a3;
  border: 2px solid #01a4a3;
  font-size: 13px;
  padding: 20px 45px;
  vertical-align: top;
}

.footer-wrap .action .cta-btn:hover {
  opacity: .6;
}

.footer-wrap ul {
  width: 100%;
  margin: 50px auto 0;
  text-align: center;
}

.footer-wrap li {
  display: inline-block;
  vertical-align: top;
}

.footer-wrap li.twitter {
  height: 20px;
  position: relative;
  margin: 0 2px 0 20px;
}

.footer-wrap ul li a {
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  margin: 0 8px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer-wrap ul li a.twitter {
  text-transform: lowercase;
}

.footer-wrap ul li a:hover,
.footer-wrap ul li a:focus {
  border-bottom: 1px solid;
}

.footer-wrap a.mixpanel:hover {
  border: 0;
  text-decoration: none;
}

@media (max-width: 960px) {
  .cont,
  .nav {
    width: 95%;
  }

  .cont .index-wrap {
    width: 95%;
    padding-top: 120px;
  }

  .pluses {
    text-align: center;
  }

  .pluses h2 {
    font-size: 48px;
  }

  .pluses h3 {
    font-size: 30px;
  }

  .index .browser {
    left: 0;
    margin: 150px auto 0;
  }

  .steps .how-step {
    width: 21.57%;
  }

  .free .actions {
    width: 95%;
    text-align: center;
  }

  .free .cta-btn {
    float: none !important;
  }

  .free .sign-up {
    margin-bottom: 30px;
  }

  .proofs-quotes {
    width: 48%;
  }
}

@media (max-width: 640px) {
  .pluses h2 {
    font-size: 40px;
  }

  .pluses h3 {
    font-size: 24px;
  }

  .index .browser {
    width: 400px;
    height: 385px;
  }

  .index .iphone {
    bottom: -75px;
  }

  .index .browser:hover .iphone {
    bottom: -30px;
  }

  .steps .how-step {
    width: 20%;
  }

  .free .title {
    font-size: 40px;
  }

  .free .text {
    font-size: 28px;
  }

  .free .sign-up {
    margin: 0 0 30px!important;
  }
}

@media (max-width: 520px) {
  .nav .menu li:nth-child(1),
  .nav .menu li:nth-child(2) {
    display: none;
  }

  .vow .title {
    font-size: 30px;
  }

  .pluses h2 {
    font-size: 34px;
    margin-bottom: 5px;
  }

  .pluses h3 {
    font-size: 18px;
  }

  .steps .how-step {
    width: 100%;
    margin: 0 0 25px;
  }

  .index .browser {
    width: 360px;
    height: 385px;
  }

  .free .text {
    font-size: 20px;
    line-height: 30px;
  }

  .free .cta-btn {
    font-size: 12px;
  }

  .index .iphone {
    width: 185px;
    left: 0;
    right: 0;
  }
}

@media (max-width: 440px) {
  .nav .menu li:nth-child(1),
  .nav .menu li:nth-child(2),
  .nav .menu li:nth-child(3),
  .nav .menu li:nth-child(4) {
    display: none;
  }

  .proofs-quotes {
    float: none !important;
    width: 95%;
    margin: 0 auto;
  }

  .footer-wrap .action .brand {
    margin-right: 5px;
  }
}