

body {
  color: #fff;
  background: #272a33;
  font: 400 14px 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.join-wrap {
  width: 430px;
  margin: 150px auto;
  text-align: center;
}

.join-form {
  background: rgba(0,0,0,.2);
  margin: 35px auto;
  padding: 45px 40px;
  border-radius: 3px;
}

.fld {
  background: rgba(255,255,255,1);
  border: none;
  width: 100%;
  padding: 14px 20px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 2px;
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

.forgot-password {
  display: inline-block;
  color: #eeeef0;
  margin-top: 15px;
}

.btn {
  display: inline-block;
  border: 0;
  font-size: 12px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 15px 35px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.green-btn {
  background-color: #00b763;
  color: #fff;
}