

body {
  color: #fff;
  background: #272a33;
  font: 400 14px 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.join-wrap {
  width: 430px;
  margin: 140px auto 80px;
  text-align: center;
}

.join-form {
  background: rgba(0,0,0,.2);
  margin: 35px auto 20px;
  padding: 45px 40px;
  position: relative;
  border-radius: 3px;
}

.error-msg {
  color: #f03e56;
  font-size: 16px;
  margin-bottom: 15px;
}

.fld {
  background: rgba(255,255,255,1);
  border: none;
  color: #333;
  width: 100%;
  padding: 14px 20px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 2px;
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

.fld.error {
  -webkit-box-shadow: 0 0 0 3px #f03e56;
  box-shadow: 0 0 0 3px #f03e56;
}

.forgot-password {
  display: inline-block;
  color: #eeeef0;
  margin-top: 15px;
}

.btn {
  display: inline-block;
  border: 0;
  font-size: 12px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 15px 35px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.green-btn {
  background-color: #00b763;
  color: #fff;
}

.social-auth {
  margin: 20px 0 0;
  text-align: center;
}

.auth-btn {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 9px 12px 8px 12px;
  margin: 0 0 12px;
  letter-spacing: .5px;
  width: 205px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.auth-btn.facebook {
  background: #3b5998;
  margin-right: 8px;
}

.auth-btn.twitter {
  background: #3498db;
}

.auth-btn.github {
  background: #bdc3c7;
}

.auth-btn i,
.auth-btn span {
  display: inline-block;
  vertical-align: top;
}

.auth-btn i {
  font-size: 14px;
  line-height: 10px;
  margin-top: 3px;
  margin-right: 5px;
}

.auth-btn span {
  line-height: 22px;
}

.btn:hover,
.btn:focus,
.auth-btn:hover,
.auth-btn:focus {
  opacity: .9;
  text-decoration: none;
}

.separator {
  color: rgba(255,255,255,.3);
  font-size: 14px;
  position: relative;
}

.separator:before {
  position: absolute;
  border-bottom: 1px solid  rgba(255,255,255,.2);
  width: 30%;
  height: 10px;
  content: '';
  left: 42px;
}

.separator:after {
  position: absolute;
  border-bottom: 1px solid  rgba(255,255,255,.2);
  width: 30%;
  height: 10px;
  content: '';
  right: 42px;
}

@media (max-width: 440px) {
  .logo {
    width: 180px;
  }

  .join-wrap {
    width: 95%;
    margin-top: 100px;
  }

  .join-form {
    padding: 30px 25px;
  }

  .auth-btn {
    width: 80%;
  }

  .auth-btn.facebook {
    margin-right: 0;
  }

  .separator:before {
    left: 25px;
  }

  .separator:after {
    right: 25px;
  }
}