/*
 * General styles
 */

::selection {
  background-color: #e74c3c;
  color: #fff;
}

::-moz-selection {
  background-color: #e74c3c;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: inline-block;
  background: url('../img/logo-likeastore-pink.png') no-repeat center transparent;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 140px;
  height: 20px;
  cursor: pointer;
}

.logo.big {
  width: 200px;
  height: 29px;
}

.dark-bg {
  background-color: #272a33;
}

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}