/*
 * All icons
 */

@font-face {
  font-family: 'likeastore-icon-font';
  src: url('../fonts/likeastore-icon-font.eot');
  src: url('../fonts/likeastore-icon-font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/likeastore-icon-font.woff') format('woff'),
		 url('../fonts/likeastore-icon-font.ttf') format('truetype'),
		 url('../fonts/likeastore-icon-font.svg#likeastore-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before,
.font-icon:before {
  font-family: 'likeastore-icon-font';
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.github-icon:before {
  content: 'd';
}

.twitter-icon:before {
  content: 'b';
}

.stackoverflow-icon:before {
  content: 'a';
}

.facebook-icon:before {
  content: 'g';
}

.dribbble-icon:before {
  content: 'y';
}

.behance-icon:before {
  content: '4';
}

.instagram-icon:before {
  content: 'z';
}

.pinterest-icon:before {
  content: 'A';
}

.bitbucket-icon:before {
  content: 'B';
}

.vimeo-icon:before {
  content: 'C';
}

.youtube-icon:before {
  content: 'O';
}

.pocket-icon:before {
  content: '\e01B';
}

.tumblr-icon:before {
  content: 'T';
}

.date-icon:before {
  content: 'o';
}

.full-star-icon:before {
  content: 's';
}

.settings-icon:before {
  content: 'u';
}

.main-icon:before {
  content: 'w';
}

.delete-icon:before {
  content: 'v';
}

.play-icon:before {
  content: 'W';
}

.link-icon:before {
  content: '2';
}

.share-icon:before {
  content: 'Y';
}

.menu-icon:before {
  content: 'J';
}

.home-icon:before {
  content: '\e01F';
}

.login-icon:before {
  content: '\e020';
}

.blog-icon:before {
  content: '\e01D';
}

.tour-icon:before {
  content: '\e009';
}

.heart-icon:before {
  content: 'Q';
}