/* Smartphones (landscape) ----------- */
@media (max-width: 640px) {

	body {
		font-weight: 400;
	}

	.go-to-login {
		font-size: 10px;
		padding: 3px 8px;
		right: 10px;
	}

	.welcome-page .wrap {
		width: 100%;
		margin-bottom: 10px;
		overflow: hidden;
	}

	.welcome-page .logo.big {
		font-size: 1.5em;
		margin-bottom: 0;
	}

	.welcome-page .desc {
		font-size: .6em;
		margin-bottom: 30px;
	}

	.register-btn {
		font-size: 16px;
	}

	.promo-wrap {
		border-width: 1px;
		width: auto;
		margin: 50px 15px;
		padding: 20px 0;
	}

	.pr {
		margin-bottom: 25px;
	}

	.pr h4,
	.pr p {
		font-size: 12px;
		line-height: 22px;
	}

	.pr h4 {
		font-size: 16px;
	}

	.subscribe input.email {
		width: 165px;
	}

	.notify-btn {
		margin-left: 1px;
		width: 90px;
	}

	.login-page,
	.register-page,
	.setup-page {
		background-color: #fff;
	}

	.login-page,
	.setup-page {
		border-color: #1abc9c;
	}

	.register-page {
		border-color: #e74c3c;
	}

	.login-page .wrap,
	.register-page .wrap,
	.setup-page .wrap {
		width: 315px;
		margin: 10px auto 50px;
		overflow: hidden;
	}

	.login-page .logo,
	.register-page .logo,
	.setup-page .logo {
		margin: 20px;
	}

	.login-page .auth-block,
	.register-page .auth-block,
	.setup-page .setup {
		padding: 20px;
		margin-top: 10px;
	}

	.login,
	.register {
		border: 0;
		padding: 0;
		width: 276px;
	}

	.login input.field,
	.register input.field,
	.setup input.field {
		width: 245px;
		font-weight: 400;
	}

	.login .btn,
	.register .btn,
	.setup .btn {
		display: block;
		width: 276px;
		font-weight: 400;
	}

	.auth-help {
		display: block;
		font-size: 14px;
		margin: 20px auto 0;
		text-align: center;
	}

	.social {
		border-top: 1px solid #f2f2f2;
		margin-top: 10px;
		padding: 30px 0 0;
		width: 276px;
	}

	.error-msg {
		top: -35px;
	}

	.error-msg.on {
		left: 0px;
		font-size: 11px;
	}

	.error-msg .icon {
		font-size: 16px;
	}

	.error-msg .msg-text {
		line-height: 18px;
	}

	.subscribe .error-msg.on {
		left: 80px;
	}

	.setup .msg {
		top: -10px;
	}

	.setup .msg.on {
		left: 20px;
	}

	.social-buttons {
		width: 350px;
	}

}

/* Smartphones (portrait) ----------- */
@media (max-width: 420px) {

	.subscribe .error-msg {
		top: -30px;
	}

	.subscribe .error-msg.on {
		left: 3px;
	}

	.image-container .marker {
		display: none;
	}

}

/* iPads (portrait) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {

	.welcome-page .wrap {
		width: 100%;
		margin-bottom: 30px;
		overflow: hidden;
	}

	.image-container .marker {
		display: none;
	}

}
