.wrap {
	width: 300px;
	margin: 95px auto;
	text-align: center;
	position: relative;
	-webkit-animation: vis .5s ease-in-out;
	-moz-animation: vis .5s ease-in-out;
	-ms-animation: vis .5s ease-in-out;
	animation: vis .5s ease-in-out;
}

.register-page .logo {
	color: #e74c3c;
}

.register-page .desc {
	color: #818181;
	font-size: 13px;
	line-height: 20px;
	margin: 0 auto 35px;
	max-width: 290px;
}

.register-page .separator {
	font-size: 20px;
	color: #818181;
	margin: 12px auto 0;
}

.register-page .terms {
	color: #818181;
	font-size: 11px;
	line-height: 20px;
	margin: 10px auto;
}

.register-page .terms a {
	color: #818181;
	text-decoration: underline;
}

.register-page .terms a:hover {
	text-decoration: none;
}

.register-page input.field {
	margin-bottom: 12px;
}

/* Social auth buttons */
.register-page .auth-btn,
.register-page .auth-btn:hover,
.register-page .auth-btn:focus {
	display: block;
	border: 2px solid;
	color: #fff;
	font: 13px 'proxima_nova_rgbold', 'Lato', 'Helvetica', Arial, sans-serif;
	padding: 0;
	margin-bottom: 12px;
	text-align: left;
	width: 296px;
	height: 35px;
	text-decoration: none;
}

.register-page .auth-btn .icon,
.register-page .auth-btn span {
	display: inline-block;
	vertical-align: top;
}

.register-page .auth-btn .icon {
	line-height: 38px;
	margin-left: 16px;
}

.register-page .auth-btn span {
	line-height: 35px;
	margin-left: 55px;
}

.register-page .auth-btn.facebook {
	background: #0f66aa;
	border-color: #0f66aa;
}

.register-page .auth-btn.facebook:hover,
.register-page .auth-btn.facebook:focus {
	background: #fff;
	color: #0f66aa;
}

.register-page .auth-btn.twitter {
	background: #28b9dd;
	border-color: #28b9dd;
}

.register-page .auth-btn.twitter:hover,
.register-page .auth-btn.twitter:focus  {
	background: #fff;
	color: #28b9dd;
}

.register-page .auth-btn.github {
	background: #bdc3c7;
	border-color: #bdc3c7;
}

.register-page .auth-btn.github:hover,
.register-page .auth-btn.github:focus {
	background: #fff;
	color: #bdc3c7;
}
/* End of social auth buttons */

/* Error messages */
.error.field,
.error.field:focus {
	background: #e35454;
	color: #fff;
}

.error.field::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}

.error.field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.error.field::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}

.error.field:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
}

.msg {
	font-size: 11px;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.register-page .msg {
	background: #fff;
	height: 24px;
	line-height: 5px;
	margin-top: -12px;
	position: relative;
	z-index: 1;
}

.msg.on {
	opacity: 1;
}

.error-msg {
	color: #e74c3c;
}

.success-msg {
	color: #27ae60;
}
/* End of error messages */

/* Media queries */
@media (max-width: 440px) {
	.wrap {
		margin-top: 35px;
	}
}
/* End of media queries */
