/*
 * Setup page
 */
.setup-page .avatar {
	width: 50px;
	height: 50px;
	margin-bottom: 15px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}

.setup-page .desc {
	max-width: 280px;
	margin-bottom: 5px;
}

.setup-page form {
	margin-top: 10px;
}

.setup-page .msg {
	height: 25px;
	line-height: 16px;
	margin: 0;
}
