/*
 * Share like page
 */

.share-like-page {
	background: #fbfbfb;
}

.share-like-page .logo {
	color: #1abc9c;
}

/* Sharer info */
.user-info {
	font-size: 13px;
	width: 460px;
	margin: 90px auto 30px;
}

.user-info img {
	width: 26px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.user-info span {
	display: inline-block;
	color: #818181;
	vertical-align: top;
	line-height: 26px;
	margin-left: 2px;
}

.user-info span .name {
	font-weight: 700;
	color: #1f282d;
}

/* Shared like card */
.like-white-board {
	background: #fff;
	width: 100%;
	min-height: 305px;
	padding: 20px 0 15px;
	margin-bottom: 50px;
	overflow: hidden;
}

.like-wrap {
	background: #fff;
	font-size: 14px;
	width: 460px;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
}

.like-thumb-wrap {
	position: relative;
	overflow: hidden;
	height: 290px;
	margin-bottom: 25px;
}

.like-bg {
	width: 100%;
	height: 290px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
}

.like-bg-info {
	position: relative;
	color: #fff;
	color: rgba(255,255,255,.9);
	width: 100%;
	padding: 235px 12px 15px;
	background: url('../img/gradient.png') repeat-x center center;
	background-size: 100% 100%;
}

.like-thumb-wrap .play-icon {
	display: inline-block;
	border: 2px solid;
	font-size: 14px;
	float: left;
	line-height: 35px;
	vertical-align: middle;
	margin: 8px 10px 0 0;
	text-indent: 3px;
	text-align: center;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.like-thumb-wrap .title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 3px;
	width: 84%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.like-thumb-wrap .like-date {
	font-size: 10px;
	text-transform: uppercase;
}

.like-thumb-wrap .source-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.like-wrap .repo {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.like-wrap .desc {
	display: inline-block;
	color: #818181;
	font-size: 16px;
	width: 75%;
	min-height: 270px;
	line-height: 24px;
	overflow: hidden;
}

.like-wrap.thumbed .desc {
	min-height: 110px;
}

.like-wrap .desc canvas {
	display: none;
}

.like-wrap img {
	float: left;
	width: 60px;
	height: 60px;
	margin: 2px 15px 0 4px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.like-wrap a {
	color: #e76049;
	text-decoration: none;
}

.like-wrap a:hover {
	text-decoration: underline;
}

.like-type {
	display: inline-block;
	color: #f6f6f6;
	font-size: 100px;
	position: absolute;
	right: -8px;
	bottom: -50px;
}

.author-like,
.author-like a {
	color: #1f282d;
	font-size: 12px;
	font-weight: 700;
	margin: 10px 0 0;
	width: 165px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.like-date {
	display: block;
	color: #1abc9c;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.like-date .link-icon {
	font-size: 18px;
}

.like-date a,
.like-date a:hover  {
	color: #1abc9c;
	text-decoration: none;
}

.like-date span {
	display: inline-block;
	vertical-align: top;
	line-height: 18px;
	margin-left: 3px;
}

/* Share register form */
.share-register-wrap {
	width: 468px;
	margin: 0 auto 95px;
}

.share-register-wrap h3 {
	font-size: 18px;
	padding: 5px 0;
}

.share-register-wrap .desc {
	color: #818181;
	font-size: 14px;
}

.share-register-wrap form.register {
	margin: 25px auto 0;
}

.share-register-wrap form.register .field-wrap {
	display: inline-block;
	width: 170px;
	margin-right: 10px;
}

.share-register-wrap form.register .do-register-btn {
	width: 100px;
}

.share-register-wrap .social-auth {
	margin-top: 10px;
}

.share-register-wrap .auth-btn,
.share-register-wrap .auth-btn:hover,
.share-register-wrap .auth-btn:focus {
	display: inline-block;
	width: 143px;
	height: 35px;
	margin-right: 6px;
}

.share-register-wrap .auth-btn span {
	line-height: 34px;
	margin-left: 22px;
}

.share-register-wrap .auth-btn.facebook span {
	margin-left: 16px;
}

.share-register-wrap .auth-btn.github {
	width: 144px;
	margin-right: 0;
}