

.image-container {
	max-width: 1000px;
	margin: 15px auto 35px;
	position: relative;
	-webkit-animation: macvis .3s ease-in-out;
	-moz-animation: macvis .3s ease-in-out;
	-ms-animation: macvis .3s ease-in-out;
	animation: macvis .3s ease-in-out;
}

.image-container .mac-img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}



.register-btn {
	display: inline-block;
	color: #fff;
	background: #ff3535;
	border-bottom: 6px solid #e03232;
	font-size: 20px;
	padding: 12px 25px;
	text-decoration: none;
}

.register-btn:hover {
	background-color: #e03232;
	border-bottom: 6px solid #cc2e2e;
	text-decoration: none;
}

.promo-wrap {
	border-top: 2px dotted #eee;
	width: 550px;
	margin: 65px auto 45px;
	padding: 45px 40px 0;
}

.pr {
	line-height: 26px;
	margin-bottom: 60px;
}

.pr.last {
	margin-bottom: 30px;
}

.pr h4 {
	padding-bottom: 15px;
}

.pr p {
	margin: 10px 0;
}

/* Notify form */
.subscribe {
	margin-top: 65px;
	position: relative;
}

.subscribe input.email {
	width: 320px;
	height: 35px;
}

.notify-btn {
	color: #fff;
	background: #2ecc71;
	border-color:  #27ae60;
	margin-left: 3px;
}

.notify-btn:hover {
	background: #2ebf6a;
}



/* Login, register && setup pages */
.login-page,
.register-page,
.setup-page {
	background-color: #f7f7f7;
	border-color: #fff;
}

.login-page .wrap,
.register-page .wrap {
	width: 685px;
	margin-top: 120px;
}

.setup-page .wrap {
	width: 393px;
	margin: 60px auto 30px;
}

.login-page h3,
.register-page h3 {
	font-size: 20px;
}

.login-page .logo {
	color: #1abc9c;
}

.register-page .logo,
.setup-page .logo {
	color: #e74c3c;
}

.auth-block,
.setup-page .setup {
	background: #fff;
	padding: 40px 30px;
	margin-top: 50px;
}

.auth-block {
	padding-bottom: 80px;
}

.login,
.register {
	float: left;
	border-right: 1px solid #f2f2f2;
	padding: 0 25px 0 0;
	width: 296px;
	position: relative;
}

.setup {
	position: relative;
}

.setup-welcome-text {
	line-height: 25px;
	margin-bottom: 30px;
}

.login input.field,
.register input.field {
	width: 265px;
	height: 30px;
	margin-bottom: 19px;
}

.setup input.field {
	width: 300px;
	height: 30px;
	margin-bottom: 15px;
}

.login .btn {
	color: #fff;
	background: #ff3535;
	border-color: #e03232;
	margin-top: 10px;
}

.login .btn:hover {
	background-color: #e03232;
	border-bottom: 6px solid #cc2e2e;
}

.register .btn,
.setup .btn {
	color: #fff;
	background: #2ecc71;
	border-color: #27ae60;
	margin-top: 10px;
}

.setup .btn {
	width: 160px;
}

.register .btn:hover,
.setup .btn:hover {
	background-color: #2ebf6a;
	border-color: #1e944f;
}

.auth-help {
	display: inline-block;
	margin: 10px 0 0 10px;
	font-size: 13px;
	line-height: 43px;
}

/* Social buttons */
.social {
	float: right;
	padding: 0 0 0 25px;
	width: 276px;
}

.auth-btn {
	display: block;
	color: #fff;
	font-size: 13px;
	padding: 7px 10px 7px 30px;
	margin-bottom: 19px;
	width: 235px;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-ms-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}

.auth-btn:hover {
	text-decoration: none;
	opacity: .9;
}

.auth-btn.facebook {
	background: #0f66aa;
}

.auth-btn.twitter {
	background: #28b9dd;
}

.auth-btn.github {
	background: #bdc3c7;
}

.auth-btn i,
.auth-btn span {
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
}

.auth-btn i {
	font-size: 16px;
}

.auth-btn span {
	margin-left: 5px;
}

/* Flash success && error messages */
.error.field,
.error.field:focus {
	background: #e35454;
	color: #fff;
}

.error.field::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}

.error.field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.error.field::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}

.error.field:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
}

.msg {
	font-size: 14px;
	position: absolute;
	top: -75px;
	left: -10000px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.msg.on {
	left: -23px;
}

.msg .icon {
	font-size: 20px;
}

.msg .msg-text {
	vertical-align: top;
	line-height: 24px;
	margin-left: 5px;
}

.subscribe .msg {
	top: -35px;
}

.subscribe .msg.on {
	left: 50px;
}

.setup .msg {
	top: -30px;
}

.setup .msg.on {
	left: 3px;
}

.error-msg {
	color: #e74c3c;
}

.success-msg {
	color: #27ae60;
}

.success-msg i.icon:before {
	content: 'w';
}

.error-msg i.icon:before {
	content: 'x';
}

.hn-button {
	margin-left: 25px;
}
