@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'NovecentowideLightBold';
	src: url('../fonts/Novecentowide-DemiBold-webfont.eot');
	src: url('../fonts/Novecentowide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Novecentowide-DemiBold-webfont.woff') format('woff'),
		 url('../fonts/Novecentowide-DemiBold-webfont.ttf') format('truetype'),
		 url('../fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		 url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
		 url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

::selection {
	background-color: #feffc3;
}

::-moz-selection {
	background-color: #feffc3;
}

body {
	color: #333;
	background: #fff;
	font-family: 'Lato', 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	border-top: 5px solid #ecf0f1;
	width: 100%;
	overflow-x: hidden;
}

a {
	color: #ff3535;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logo {
	margin: 60px auto 15px;
	font: 3.5em 'proxima_nova_rgbold', "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	text-transform: lowercase;
}

.desc {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
}

.wrap {
	text-align: center;
	width: 1000px;
	margin: 0 auto 100px;
}

.image-container {
	max-width: 1000px;
	margin: 15px auto 35px;
}

.image-container .mac-img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.register-btn {
	display: inline-block;
	color: #fff;
	background: #ff3535;
	border-bottom: 6px solid #e03232;
	font-size: 20px;
	padding: 12px 25px;
	text-decoration: none;
}

.register-btn:hover {
	background-color: #e03232;
	border-bottom: 6px solid #cc2e2e;
	text-decoration: none;
}

.promo-wrap {
	border-top: 2px dotted #eee;
	width: 550px;
	margin: 65px auto;
	padding: 60px 40px 30px;
}

.pr {
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 60px;
}

.pr.last {
	margin-bottom: 30px;
}

.pr h4 {
	font: 18px 'NovecentowideLightBold', "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	padding-bottom: 15px;
}

.pr p {
	margin: 10px 0;
}

/* Notify form */
.subscribe {
	margin-top: 65px;
}

.subscribe input[type="email"] {
	background: #ecf0f1;
	border: 0;
	font: 14px 'Lato', 'Open Sans', "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	padding: 5px 15px;
	width: 320px;
	height: 35px;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: background-color .3s ease-in;
	-moz-transition: background-color .3s ease-in;
	-ms-transition: background-color .3s ease-in;
	transition: background-color color .3s ease-in;
}

.subscribe input[type="email"]:focus {
	background: #feffc3;
}

.notify-btn {
	color: #fff;
	background: #2ecc71;
	border: 0;
	border-bottom: 6px solid #27ae60;
	cursor: pointer;
	font: 14px 'Lato', 'Open Sans', Arial, sans-serif;
	font-weight: 300;height: 45px;
	width: 100px;
	vertical-align: top;
	line-height: 38px;
	margin-left: 3px;
}

.notify-btn:hover {
	background: #2ebf6a;
}

.login-btn {
	display: inline-block;
	border: 2px solid #333;
	color: #333;
	font: 12px 'NovecentowideLightBold', "Helvetica", "Arial", sans-serif;;
	padding: 5px 10px;
	position: fixed;
	top: 15px;
	right: 30px;
}

.login-btn:hover {
	border-color: #999;
	color: #999;
	text-decoration: none;
}