.box {
	width: 630px;
	margin: 0 auto;
	text-align: center;
}

.box.welcome-block {
	width: 530px;
}

.welcome-block {
	padding: 60px 0 0;
	position: relative;
	z-index: 101;
	-webkit-animation: macvis .5s ease-in-out;
	-moz-animation: macvis .5s ease-in-out;
	-ms-animation: macvis .5s ease-in-out;
	animation: macvis .5s ease-in-out;
}

@-webkit-keyframes macvis {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes macvis {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes macvis {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.title-block {
	padding: 50px 0 10px;
}

.words {
	color: #1f282d;
	font: 4em/1.1em 'proxima_nova_rgbold', 'Helvetica', 'Arial', sans-serif;
	font-weight: normal;
	text-transform: capitalize;
}

.welcome-desc {
	color: #ecf0f1;
	font-weight: 300;
	font-size: 18px;
	margin: 20px 0 0;
}

.title-block .words {
	font-size: 2.5em;
	margin: 20px auto 30px;
}

.step1 {
	background: #1abc9c;
	position: relative;
	height: 100%;
	min-height: 100%;
	z-index: 1;
}

.step1 .words,
.step1 .desc {
	color: #ecf0f1;
}

.step2 {
	background: #fff;
	position: relative;
	z-index: 2;
}

.bars {
	position: absolute;
	height: 10px;
	width: 100%;
	top: 0;
}

.bars li {
	float: left;
	height: 10px;
	width: 20%;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-webkit-animation: linevis 700ms ease-in-out;
	-moz-animation: linevis 700ms ease-in-out;
	-ms-animation: linevis 700ms ease-in-out;
	animation: linevis 700ms ease-in-out;
}

.bars li.black {
	background: #1f282d;
}

.bars li.blue {
	background: #4fcfc4;
}

.bars li.yellow {
	background: #f39c12;
}

.bars li.red {
	background: #e74c3c;
}

.bars li.grey {
	background: #ecf0f1;
}

@-webkit-keyframes linevis {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.image {
	margin: 0 auto;
	max-width: 860px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-animation: macmove 1200ms ease-in-out;
}

@-webkit-keyframes macmove {
	from {
		bottom: -500px;
	}

	to {
		bottom: 0;
	}
}

.image img {
	width: 100%;
	margin: 10px 0 -2px;
}

.find-out-more {
	display: inline-block;
	color: #ecf0f1;
	border-bottom: 1px dotted #ecf0f1;
	font-size: 13px;
	margin: 30px 0 0;
	padding-bottom: 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.find-out-more:hover {
	color: #f7f779;
	border-color: #f7f779;
	text-decoration: none;
}

.ads-desc {
	font-size: 18px;
	margin-top: 35px;
	line-height: 24px;
	text-align: justify;
}

.overlay {
	background: #333;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	visibility: hidden;
}

.go-to-login {
	display: inline-block;
	background: transparent;
	color: #fff;
	font: 14px 'proxima_nova_rgbold', 'Helvetica', 'Arial', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 9px 22px;
	width: 60px;
	text-align: center;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	box-shadow: inset 0 0 0 1px #fff;
}

.go-to-login:hover {
	color: #f7f779;
	text-decoration: none;
	box-shadow: inset 0 0 0 1px #f7f779;
}

.stepfixer .go-to-login {
	color: #1f282d;
	box-shadow: inset 0 0 0 1px #1f282d;
}

.stepfixer .logo {
	color: #1abc9c;
}

.stepfixer .bars {
	position: fixed;
	height: 5px;
}

.stepfixer .bars li {
	height: 5px;
}

.screen {
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
	margin: 35px auto;
}

.screen img {
	width: 100%;
	max-width: 750px;
	display: block;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.info-desc {
	color: #818181;
	font-size: 14px;
	line-height: 20px;
	max-width: 410px;
	margin: 10px auto;
}

.picto {
	display: inline-block;
	border: 3px solid #1abc9c;
	color: #1abc9c;
	font-size: 14px;
	font-family: 'icon-font';
	font-weight: 500;
	text-align: center;
	padding: 10px 12px;
	margin: 20px auto;
	cursor: default;
}

.about-block {
	margin: 0 auto 20px;
}

.about-block h2 {
	font: 1.5em 'proxima_nova_rgbold', 'Helvetica', 'Arial', sans-serif;
	font-weight: normal;
	margin: 0 auto;
	text-transform: capitalize;
}

.about-block .info-desc {

}
