/*
 * General styles
 */
::selection {
	background-color: #e74c3c;
	color: #fff;
}

::-moz-selection {
	background-color: #e74c3c;
	color: #fff;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: all .2s ease;
}

a:hover {
	text-decoration: underline;
}

.logo {
	display: inline-block;
	background: url('../img/logo-likeastore-pink.png') no-repeat center transparent;
	background-size: 100%;
	width: 140px;
	height: 20px;
	cursor: pointer;
}

.logo.big {
	width: 200px;
	height: 29px;
}

.dark-bg {
	background-color: #272a33;
}

.delay-1s {
	animation-delay: 1s;
}

.delay-2s {
	animation-delay: 2s;
}

/* Hack for fixing Chrome fonts issue version 33 */
body {
	-webkit-animation-duration: .1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: .1s;
}

@-webkit-keyframes fontfix{
	from{ opacity: 1; }
	to{ opacity: 1; }
}
